body {
  background-image: url(images/lupulosfondo.jpg);
  background-size: cover;
 } 
 nav { 
  font-family:'Roboto Slab', serif;
  font-size: 120%;
  margin:15px;
 }
.btn-blue {
  font-family:'Roboto Slab', serif;
  background-color: #fad7a0;
  color: green;
  align-items: center;
  justify-content: center;
  margin: 0% 40%;
  padding: 16px 68px;
  border-radius: 10px;
  display: flex;
  text-decoration: none;
  transition: .3s;
  font-size: 20px;
  font-weight: bold;

}

.btn-blue:hover {
  background-color: green;
  color: #fad7a0;
}
.navbar-brand {
  padding: 0px;
}

#carouselExampleCaptions {
  margin:0% 13%;
  padding:3% 5%;

}

p{
  padding:10px;
  text-align: justify;
  background-color: white;
  opacity: 75%;
  color: black;

}

.register{
  background-color: yellow;
  color: black;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
  text-decoration: none;
  transition: .3s;
  font-size: 20px;
  font-weight: bold;
}

.enter{
  background-color: green;
  color: beige;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
  text-decoration: none;
  transition: .3s;
  font-size: 20px;
  font-weight: bold;
}
.clearfix{ 
clear: both; }